version: '3.8'

services:
  portfolio:
    image: portfolio:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - dokploy-network
    volumes:
      # Mount the local folder to 'overrides' instead of 'public'
      # The entrypoint.sh script will merge these files into 'public' at startup
      - /home/ubuntu/portfolio:/app/overrides

networks:
  dokploy-network:
    external: true
